[submodule "source/content/working-with-git"]
	path = source/content/working-with-git
	url = https://github.com/t4d-gmbh/working-with-git.git
	branch = main
[submodule "source/content/git-and-its-remotes"]
	path = source/content/git-and-its-remotes
	url = https://github.com/t4d-gmbh/git-and-its-remotes
	branch = main
[submodule "source/content/ci-cd-workflows"]
	path = source/content/ci-cd-workflows
	url = https://github.com/t4d-gmbh/ci-cd-workflows
