{% extends "!layout.html" %}

{% block body %}

{% if build == "slides" %}
<div style="display: flex; justify-content: flex-start; align-items: center; height: 80vh; width: 95%;">
  <div id='rescaled-text' style="margin-left: 1vw; margin-right:1vw; width: 100%;">
    {{ body }}
  </div>
</div>

<script>
    function adjustFontSize() {
        const vh = window.innerHeight;
        const responsiveDiv = document.getElementById('rescaled-text');
        responsiveDiv.style.fontSize = (vh * 0.02) + 'px';

        const heading = responsiveDiv.querySelector('h1');
        const paragraph = responsiveDiv.querySelector('p');
        const smallText = responsiveDiv.querySelector('small');

        if (heading) heading.style.fontSize = (vh * 0.04) + 'px';
        if (paragraph) paragraph.style.fontSize = (vh * 0.02) + 'px';
        if (smallText) smallText.style.fontSize = (vh * 0.02) + 'px';
    }

    function saveState() {
        localStorage.setItem('isFullScreen', document.fullscreenElement ? 'true' : 'false');
        localStorage.setItem('isSidebarHidden', document.body.classList.contains('sidebar-hidden') ? 'true' : 'false');
    }

    function applyState() {
        const isFullScreen = localStorage.getItem('isFullScreen') === 'true';
        const isSidebarHidden = localStorage.getItem('isSidebarHidden') === 'true';

        if (isFullScreen) {
            document.documentElement.requestFullscreen();
        }

        if (isSidebarHidden) {
            document.body.classList.add('sidebar-hidden');
        }
    }

    window.addEventListener('resize', adjustFontSize);
    window.addEventListener('beforeunload', saveState);
    document.addEventListener('DOMContentLoaded', () => {
        adjustFontSize();
        applyState();
    });
</script>
{% else %}
    {{ body }}
{% endif %}

{% endblock %}